@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap");

:root {
  --modal-duration: 1.2s;
  --primary-color:rgb(39, 36, 36);
  --secondary-color: rgb(116, 116, 116);
}
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Lato", sans-serif;
  margin: 0;
  transition: transform 0.7s ease;
}
body.show-navmenu {
  transform: translateX(200px);
}
.container {
  max-width: 800px;
  margin: 0 auto;
}

.nav-container {
  clip-path: polygon(0 0, 100% 0, 100% 37%, 100% 80%, 0 100%);

  position: fixed;
  top: 0;
  left: 0;
  transform: translateX(-100%);
  width: 200px;
  height: 100vh;
  background-color: rgb(39, 36, 36);
  .nav-container {
    padding: 0;
  }
  nav {
    border-right: 1px solid rgb(116, 116, 116);
  }
  .logo {
    text-align: center;
    margin-bottom: 40px;
    padding-top: 40px;
    img {
      border-radius: 50%;
      border: 7px solid rgb(116, 116, 116);
    }
  }
}
ul {
  margin: 0;
  padding: 0;
  .item {
    font-weight: 700;
    list-style-type: none;
    color: #ffffff;
    font-size: 20px;
    border-bottom: 1px solid rgb(116, 116, 116);
    padding: 15px 30px;
    width: 100%;
    cursor: pointer;
    transition: all 1s ease;
    &:hover {
      background-color: #fff;
      color: var(--primary-color);
      clip-path: polygon(0% 0, 80% 0, 100% 50%, 80% 100%, 0% 100%,);
      transition: 0.5s;
    }
  }
  .item:first-of-type {
    border-top: 1px solid rgb(116, 116, 116);
    &:active{
    }
  }
}

.header {
  clip-path: polygon(0 0, 100% 0, 100% 80%, 70% 100%, 30% 100%, 0 80%);
  position: relative;
  padding-top: 30px;
  height: 30vh;
  background-color: rgb(39, 36, 36);
  color: #ffffff;
  .wrap-header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  h1 {
    margin: 0;
    font-size: 60px;
  }
  p {
    margin-bottom: 40px;
  }
  button {
    background-color: #ffffff;
    padding: 8px 30px;
    border: none;
    border-radius: 5px;
    font-size: 22px;
    font-weight: 700;
    outline: none;
    &:active {
      outline: none;
      background-color: rgb(153, 150, 150);
      transform: scale(0.98);
    }
  }
}
.toggle {
  position: fixed;
  top: 20px;
  left: 20px;
  width: 20px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  &:active{
    transform: scale(0.98);
  }
}
.modal-open {
}
.container {
}

// Modal form: /////////////////////////////////////////
.madal-main--bgc.show-modal{
  display: block;
}
.madal-main--bgc {
  display: none;
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  animation: showModal 1s ease;
}
.modal-container {
  width: 400px;
  background-color: #fff;
  border-radius: 7px;
  margin: 0 auto;
  margin-top: 15vh;
  position: relative;
}
.modal-header{
  clip-path: polygon(0 0, 100% 0, 100% 100%, 80% 60%, 20% 60%, 0 100%);
  background-color: var(--primary-color);
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
  height: 120px;
  padding: 0 10px;
  .close {
    background: transparent;
    border: 0;
    font-size: 30px;
    position: absolute;
    top: 10px;
    right: 10px;
    color: #ffffff;
    outline: 0;
    &:active{
      transform: scale(0.98);
    }
  }
  h3{
    margin: 0;
    padding-top: 15px;
    padding-bottom: 10px;
    color: #fff;
    border-bottom: 1px solid rgb(116, 116, 116);
  }
}

.modal-content {
  padding: 0 40px 20px;
  h2{
    text-align: center;
    margin-top: 0px;
  }
  label{
    font-size: 18px;
  }
  .modal-form {
    margin-bottom: 20px;
  }
  .submit-btn {
    width: 100%;
    font-size: 20px;
    padding: 10px 10px;
    background-color: var(--primary-color);
    border: 0;
    border-radius: 4px;
    color: #ffffff;
    outline: 0;
    &:active{
      transform: scale(0.98);
    }
  }
}
input{
  display: block;
  width: 100%;
  outline: 0;
  border: 1px solid #aaa;
  border-radius: 4px;
  padding: 5px 10px;
  &::placeholder{
    font-size: 16px;
  }
  &:focus{
    border-color: var(--secondary-color);
    border: 1px solid var(--primary-color);
    border-radius: 4px;
  }
}

///////////////////////////////////////////
small {
  color: #f13a19;
  visibility: hidden;
}
.error small{
  visibility: visible;
}
.success input{
  border-color: #19f16c;
  background-color:   rgba(25, 241, 108, 0.2);
}
.error input{
  border-color: #f13a19;
  background-color:  rgba(241, 57, 25, 0.2);
}

/////////////////////////////////////////
@keyframes showModal {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
